/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
.php_cs.cache
.DS_Store
*.sublime-*
storage/negarin.sqlite
npm-debug.log
yarn-error.log
_ide_helper.php
phpunit.dusk.xml
.nuxt
tests_output
