
// Fonts
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/eot/IRANSansWeb_Light.eot');
    src: url('../../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../../fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../../fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/eot/IRANSansWeb.eot');
    src: url('../../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../../fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../../fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}


// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/dist/css/bootstrap.min";

// Style
@import "styles";
@import "node_modules/owl.carousel/dist/assets/owl.carousel.min";

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.owl-carousel .owl-stage-outer {
    z-index: -1;
}
.owl-next,
.owl-prev {
    z-index: +1;
    padding: 10px 10px;
    border-radius: 100%;
    margin: 0 5px;
    width: 44px;
    height: 44px;
}
.owl-next {
    float: left;
    margin-top: -160px;
    opacity: 1;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    &.disabled {
        opacity: 0;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }
}
.owl-prev {
    float: right;
    margin-top: -160px;
    opacity: 1;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    &.disabled {
        opacity: 0;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }
}
.item .thumbnail {
    width: 120px;
}
.custom-navbar-brand {
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding: 10.5px;
    text-align: right;
    color: #373737;
}

.m1, .m2 {
    width: 50%;
    display: inline-block;
    float: right;
}
.m1 {
    text-align: left;
    padding-left: 50px;
}

.m2 {
    text-align: right;
    padding-right: 50px;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .m1, .m2 {
        text-align: center !important;
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

div.custom-breadcrumb {
    background-color: #fff;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #d3e0e9;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    i.separator {
        padding: 0 10px;
    }
}

.search-bar {
    margin-bottom: 15px;
    @media (min-width: 768px) {
        .navbar-form {
            padding: 0;
        }
    }
    .form-group {
        width: 100%;
        input {
            width: 100%;
        }
    }
}

.text-left-important {
    text-align: left !important;
}

.margin-5-5 {
    margin-right: 5px;
    margin-left: 5px;
}

.zero-padding {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.margin-0 {
    margin-right: 0;
    margin-left: 0;
}

.caption h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.thumbnail {
    background: #fff;
    border: 1px solid #d3e0e9 !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}


.transition, .autocomplete, .showAll-transition, .autocomplete ul, .autocomplete ul li a{
  transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
}

.autocomplete {

}

.autocomplete ul{
  position: absolute;
  list-style: none;
  background: #f8f8f8;
  display: inline-block;
  z-index: +1;
  max-width: 1140px;
  padding: 0;
  border-right: 1px solid #ccd0d2;
  margin-right: -266px;
  border-left: 1px solid #ccd0d2;
  border-bottom: 1px solid #ccd0d2;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 1px;
  margin-top: -1px;
}

.autocomplete ul li a{
  text-decoration: none;
  display: block;
  background: #f8f8f8;
  color: #2b2b2b;
  padding: 5px;
  padding-left: 10px;
}

.autocomplete ul li a:hover, .autocomplete ul li.focus-list a{
  color: white;
  background: #2F9AF7;
}

.autocomplete ul li a span, /*backwards compat*/
.autocomplete ul li a .autocomplete-anchor-label{
  display: block;
  margin-top: 3px;
  color: grey;
  font-size: 13px;
}

.autocomplete ul li a:hover .autocomplete-anchor-label,
.autocomplete ul li.focus-list a span, /*backwards compat*/
.autocomplete ul li a:hover .autocomplete-anchor-label,
.autocomplete ul li.focus-list a span{ /*backwards compat*/
  color: white;
}

.sepia {
  background-color: #f4ecd8;
  color: #5b4636;
  border-color: #eee0bc;
  transition: all ease 1s;
  .custom-breadcrumb, .panel, .form-control {
    background-color: #f4ecd8;
    border-color: #eee0bc;
    color: #5b4636;
  }
  .form-control:focus {
    border-color: #eee0bc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #eee0bc;
  }
  .panel-footer {
    background-color: #eee0bc;
    border-color: #eee0bc;
  }
}

.dark {
  background-color: #333333;
  color: #eeeeee;
  border-color: #555555;
  transition: all ease 1s;
  .custom-breadcrumb, .panel, .form-control {
    background-color: #333333;
    border-color: #555555;
    color: #eeeeee;
  }
  .form-control:focus {
    border-color: #555555;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #2b2b2b;
  }
  .panel-footer {
    background-color: #2b2b2b;
    border-color: #555555;
  }
}

body, html {
  transition: all ease 1s;
}

.reading-mode-buttons {
  margin-bottom: 15px;
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fa-rotate-135 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.search-nav {
  margin-top: 13px;
}

.card-title {
  margin-top: 0.5rem;
  color: #858e95;
}

.b {
  width: 100%;
  display: inline-block;
}

footer.footer {
  margin-top: 30px;
  width: 100%;
  line-height: 60px;
  background-color: #464a4e;
  color: #d6d6d6;
  text-align: right;
  background: url('../images/footer-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .footer-overlay {
    background-color: rgba(0, 0, 0, 0.85);
  }
  & div.row>div {
    margin: 50px 0 0 0;
  }
  h6, a {
    color: #d6d6d6;
  }
  hr {
    border-top: 1px dashed transparent;
  }
}
