@import "~bootstrap/scss/functions";
@import "variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";


div.main-layout.ltr {
  @import "~bootstrap/scss/type";
  @import "~bootstrap/scss/images";
  @import "~bootstrap/scss/code";
  @import "~bootstrap/scss/grid";
  @import "~bootstrap/scss/tables";
  @import "~bootstrap/scss/forms";
  @import "~bootstrap/scss/buttons";
  @import "~bootstrap/scss/transitions";
  @import "~bootstrap/scss/dropdown";
  @import "~bootstrap/scss/button-group";
  @import "~bootstrap/scss/input-group";
  @import "~bootstrap/scss/custom-forms";
  @import "~bootstrap/scss/nav";
  @import "~bootstrap/scss/navbar";
  @import "~bootstrap/scss/card";
  @import "~bootstrap/scss/breadcrumb";
  @import "~bootstrap/scss/pagination";
  @import "~bootstrap/scss/badge";
  @import "~bootstrap/scss/jumbotron";
  @import "~bootstrap/scss/alert";
  @import "~bootstrap/scss/progress";
  @import "~bootstrap/scss/media";
  @import "~bootstrap/scss/list-group";
  @import "~bootstrap/scss/close";
  @import "~bootstrap/scss/modal";
  @import "~bootstrap/scss/tooltip";
  @import "~bootstrap/scss/popover";
  @import "~bootstrap/scss/carousel";
  @import "~bootstrap/scss/utilities";
  @import "~bootstrap/scss/print";
}

div.main-layout.rtl {
  direction: rtl;
  @import "rtl/bootstrap";

  input[type="email"], input[type="password"] {
    direction: ltr;
  }

  label {
    text-align: right;
  }
}

@import "~sweetalert2/src/sweetalert2";
@import "~vue-snotify/styles/dark";
@import "vue-virtual-scroller/dist/vue-virtual-scroller.css";

@import "elements/card";
@import "elements/navbar";
@import "elements/buttons";
@import "elements/transitions";
@import "elements/contents";
@import "elements/editor";

.logo {
  max-width: 2rem !important;
}

.card-body {
  color: $gray-900;
}

.mt-6 {
  margin-top: 5rem !important;
}

.modal {
  background: linear-gradient(to right, rgba(150, 231, 211, 0.15), rgba(252, 119, 104, 0.15));
  background: -webkit-linear-gradient(to right, rgba(150, 231, 211, 0.15), rgba(252, 119, 104, 0.15));
  overflow-y: auto !important;
}

.snotifyToast {
  background-color: rgb(60, 66, 73);
}

.btn-google {
  background-color: #4285F4 !important;
  height: 40px !important;
  width: 100%;
  color: #fff;
  text-indent: 36px;
}
